<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js fetch</title>
    <script src="../../../js/productsFetch.js"></script>
</head>
<body>
    <div>
        <h2>Lista de productos</h2>
    </div>
    <section id="section">
        <div id="products" style="width: 50%; margin: 0 auto;">
            <article style="padding: 10px;">
<!--                 <div id="product__image" style="width: 100%; object-fit: contain; padding: 10px;">
                </div>
                <div id="product__detail">
                    <p id="product__price"></p>
                    <p id="product__description"></p> -->
                </div>
            </article>
        </div>
    </section>
</body>
</html>